
.mainContainer {
    font-family: sans-serif;
}

/* General Table Styles */
.stock-table {
    border-collapse: collapse;
    font-size: 14px;
    margin: 20px 0;
    background-color: #ffffff; /* White background for the table */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px;
    overflow: hidden;
    width: 80%;
    
  }
  
  /* Header Styles */
  .stock-table-head {
    background-color: #1E88E5; /* Vibrant blue for the header background */
  }
  
  .stock-table-header {
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #1565C0; /* Slightly darker blue border */
    font-weight: bold;
    color: #000000; /* Bright white text for strong contrast */
    text-transform: uppercase; /* Capitalize headers for emphasis */
    font-size: 10px; /* Slightly larger font for better readability */
  }
  
  /* Row and Cell Styles */
  .stock-table-row:nth-child(even) {
    background-color: #f9f9f9; /* Light grey for even rows */
  }
  
  .stock-table-row:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
  }
  
  .stock-table-row:hover {
    background-color: #e3f2fd; /* Light blue on hover for better visibility */
  }
  
  .stock-table-cell {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #333; /* Dark grey text */
  }
  
  /* Additions for specific columns */
  .stock-table-cell:nth-child(2),
  .stock-table-cell:nth-child(3),
  .stock-table-cell:nth-child(4) {
    text-align: right;
  }

  .stock-table-header:nth-child(2),
  .stock-table-header:nth-child(3),
  .stock-table-header:nth-child(4) {
    text-align: right;
  }
  
  /* Styling for Positive and Negative Changes */
   /* Today's Change */
  
  
  .stock-table-cell:nth-child(5).positive,
  .stock-table-cell:nth-child(6).positive,
  .stock-table-cell:nth-child(7).positive,
  .stock-table-cell:nth-child(8).positive {
    color: #2E7D32; /* Green for positive change */
  }
  
  .stock-table-cell:nth-child(5).negative,
  .stock-table-cell:nth-child(6).negative,
  .stock-table-cell:nth-child(7).negative, 
  .stock-table-cell:nth-child(8).negative {
    color: #D32F2F; /* Red for negative change */
  }
  
  .stock-icon-img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
  }
  